{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "css.html" %}
    <title>Grocery Shop</title>
  </head>
  <body class="overflow-x-hidden">
    {% block main %} {% endblock main %} {% if debug %}
    <script src="http://127.0.0.1:8000/__reload__/reload.js"></script>
    {% endif %}
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
  </body>
</html>
