{% extends "index.html" %}

{% block content %}
<div class="flex flex-col min-h-[80dvh] w-[100dvw]">
    <div class="flex items-center justify-center gap-[2rem] border-b-[1px] border-black">
        <img class="size-[30rem]" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="flex flex-col gap-[2rem] p-[1rem_2rem]">
            <div class="text-5xl">{{ product.name }}</div>
            <div class="text-3xl flex items-start"><span class="text-lg">&#x20B9;</span>{{ product.price }}</div>
            <div class="flex justify-between w-3/5">
                <div class="flex flex-col gap-[2rem]">
                    <div 
                    onclick="addToCart('{{product.id}}')" 
                    class="bg-orange-500 hover:bg-orange-400 transition-all text-blue-900 font-bold w-[8rem] text-center py-[.5rem] cursor-pointer rounded-xl">Add to Cart</div>
                    <div class="bg-yellow-400 hover:bg-yellow-300 transition-all text-blue-900 font-bold w-[8rem] text-center py-[.5rem] cursor-pointer rounded-xl">Buy Now</div>
                </div>
                <div class="flex flex-col justify-center items-center gap-[2rem] text-xl font-semibold">
                    <div>Brand: {{ product.brand }}</div>
                    <div>Available: {{ product.stock }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-b-[1px] p-[2rem_4rem] border-black">
        <div class="text-2xl font-semibold">Product Description:</div>
        <div class="[text-indent:3rem]">{{ product.description }}</div>
    </div>
    <div class="flex flex-col p-[2rem]">
        <div class="text-2xl font-semibold">Related Items</div>
        <div class="scroll flex gap-[2rem] m-[2rem] overflow-x-scroll scroll-smooth snap-x snap-mandatory">
        {% for item in related_products %}
            <div onclick="window.location.href='/products/{{ item.id }}'"
            class="w-[14rem] h-[17rem] p-[1rem] flex flex-col items-center cursor-pointer gap-[1rem] rounded-xl snap-start border-2 border-black">
                <img class="w-2/3 h-2/3" src="{{ item.image.url }}" alt="{{ item.name }}">
                <div class="w-[25ch] line-clamp-3 overflow-hidden text-center text-ellipsis">{{ item.name }}</div>
                <div class="bg-green-700 rounded-lg text-white p-[.1rem_.5rem]">&#x20B9;{{ item.price }}</div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% for message in messages %}
{% if message %}
  <script type="text/javascript">
    window.onload = function() {
      alert("{{ message }}");
    }
  </script>
{% endif %}
{% endfor %}
{% endblock content %}